/* Styles */

/* .personalFlexContain {
    width: 80%;
    margin: auto;
    justify-items: center;
    background-color: grey;
} */

#personalMain {
    border: black solid 2px;
}
.personalCard {
    border: red solid 2px;
}

.personalFlex {
    display: flex;
    justify-content: space-around;
}
/* .box {
    background-color: black;
    height: 200px;
    width: 200px;
} */
.personalImg {
    display: block;
    margin: auto;
}
.personalName{
    text-align: center;
}