/* Styles */

/* .personalFlexContain {
    width: 80%;
    margin: auto;
    justify-items: center;
    background-color: grey;
} */
#personalFlex {
    background-color: black;
}
.personalInfo{
    background-color: lightskyblue;
}
