.nav{
    float: center;
    vertical-align: top;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    align-content: center;
  }

  .pic{
    float: center;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    align-content: center;
  }
